button {
	font-size: 18px;
	margin: 20px 3px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
}
h2, h3 {
	text-align: center;
}
#reset {
	background-color: red;
}
#change-name {
	background-color: yellow;
}
#clicker {
	background-color: black;
}